.project-card {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;

  align-items: center;
}

.Project_name {
  font-weight: bold;
  font-size: 1.2em;
}

.GM_info {
  flex-grow: 1;
  margin-left: 15px;
}

.Manage_project button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45%;
}

.Progress {
  font-weight: bold;
  color: green;
}

.Progress p{
  width: 30%;
  margin-left: 70%;
}

.Hesh{
  font-size: 1.0rem;
  margin: 0;
}